DATABASE_URL= 'mongodb+srv://[username:password@]host[/[defaultauthdb][?options]]' # MongoDB Connection String - Do not forget to change. This is how the string would be structured.
PORT= # Port Default: 3000 - In case it is not defined, the application will use this port.